.button{
    background-color: var(--orange);
    width: 340px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    /* padding: 10px 20px 10px 20px; */
}
.button-title{
    font-weight: 400;
    font-size: 14px;
}

.button:hover {
    background-color: var(--orange-hover);
}
